@charset "UTF-8";
h3, h4, p, ul, li, h2, h1, h5, h6, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 60px;
  background: #168bd8;
  position: fixed;
  z-index: 10000;
}

.header .header-center {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
}

.header .header-center::after {
  clear: both;
  content: "";
  height: 0;
  display: block;
}

.header .header-center .logo {
  width: 120px;
  background: url(../images/header_z_94c6de7.png)-2px 0px;
  display: block;
  height: 40px;
  margin-top: 10px;
  float: left;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header .header-center .lf {
  width: 300px;
  height: 60px;
  float: left;
  margin-left: 60px;
}

.header .header-center .lf li {
  width: 100px;
  float: left;
  text-align: center;
  height: 60px;
  padding-top: 32px;
  cursor: pointer;
}

.header .header-center .lf li a {
  display: block;
  color: #fff;
  font-size: 15px;
  font-family: "Microsoft Yahei";
}

.header .header-center .lf li:hover a {
  color: #3cc0d7;
  text-decoration: none;
}

.header .header-center .nav-help {
  float: right;
  margin-top: 25px;
  font-family: "Microsoft Yahei";
}

.header .header-center .nav-help a {
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
}

.header .header-center .nav-help a:hover {
  text-decoration: none;
}

.header .header-center .nav-help .nav-app span {
  width: 32px;
  height: 25px;
  display: inline-block;
  background: url("../images/header_z_94c6de7.png") no-repeat -88px -154px;
}

.header .header-center .nav-help .shenqing {
  color: #FFDA28;
}

#main #fp-nav ul li .fp-tooltip {
  font-size: 10px;
  color: #000;
}

#main .center {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#main .first {
  width: 100%;
  height: 643px;
  background: url("../images/bg-0_c25cb21.jpg") no-repeat left center;
}

#main .first .top-yun {
  width: 100%;
  height: 100%;
  position: relative;
}

#main .first .top-yun > img:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  animation: cloud 30s linear infinite;
}

#main .first .top-yun > img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 150px;
  animation: cloud 80s linear infinite;
}

#main .first .top-yun > img:nth-child(3) {
  position: absolute;
  left: 0;
  bottom: 80px;
  animation: cloud 100s linear infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(300px);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#main .first .yuqing {
  width: 501px;
  height: 158px;
  position: absolute;
  left: 0;
  top: -510px;
  background: url(../images/launch_deea86c.png) no-repeat;
}

#main .first .feiji {
  width: 119px;
  height: 78px;
  position: absolute;
  left: 295px;
  top: -553px;
  background: url(../images/flight_ade8ee2.png) no-repeat;
}

#main .first .julun {
  width: 242px;
  height: 228px;
  background: url(../images/ship_1ad6734.png) no-repeat;
  position: absolute;
  left: 126px;
  top: -319px;
  z-index: 200;
}

#main .first .denglu {
  width: 340px;
  height: 300px;
  border-radius: 5px;
  background: #4ebffc;
  position: absolute;
  right: 0;
  top: -490px;
  font: 14px/1.5 'Microsoft YaHei','微软雅黑',Helvetica,Sans-serif;
}

#main .first .denglu #login {
  background: transparent;
  padding-top: 26px;
  border-radius: 3px;
}

#main .first .denglu #login .login-info {
  width: 340px;
  height: 179px;
  padding: 0 20px;
  color: #666;
}

#main .first .denglu #login .login-info .account {
  width: 299px;
  height: 40px;
  background: #fff;
}

#main .first .denglu #login .login-info .account span {
  background: url("../images/icons.png?20140305") no-repeat;
  width: 14px;
  height: 14px;
  margin: 12px 3px 0 10px;
  background-position: -124px -12px;
  float: left;
}

#main .first .denglu #login .login-info .account input {
  width: 270px;
  border: 0;
  outline: none;
  padding: 9px;
  height: 38px;
  float: left;
}

#main .first .denglu #login .login-info .account::after {
  content: "";
  height: 0;
  display: table;
  clear: both;
}

#main .first .denglu #login .login-info .account::before {
  content: "";
  height: 0;
  display: table;
}

#main .first .denglu #login .login-info .pass {
  width: 299px;
  height: 40px;
  background: #fff;
  margin-top: 20px;
}

#main .first .denglu #login .login-info .pass span {
  background: url("../images/icons.png?20140305") no-repeat -140px -12px;
  width: 14px;
  height: 14px;
  margin: 12px 3px 0 10px;
  float: left;
}

#main .first .denglu #login .login-info .pass input {
  width: 270px;
  border: 0;
  outline: none;
  padding: 9px;
  height: 38px;
  float: left;
}

#main .first .denglu #login .login-info .pass::after {
  content: "";
  height: 0;
  display: table;
  clear: both;
}

#main .first .denglu #login .login-info .pass::before {
  content: "";
  height: 0;
  display: table;
}

#main .first .denglu #login .login-info .taken {
  width: 300px;
  height: 39px;
  margin-top: 20px;
}

#main .first .denglu #login .login-info .taken::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

#main .first .denglu #login .login-info .taken::before {
  content: "";
  display: block;
  height: 0;
}

#main .first .denglu #login .login-info .taken input {
  width: 140px;
  height: 38px;
  border: 0;
  outline: none;
  padding: 9px;
  background: #fff;
  float: left;
}

#main .first .denglu #login .login-info .taken #token-img {
  border: 0;
  opacity: .6;
  margin-left: 10px;
  width: 99px;
  height: 39px;
  float: left;
}

#main .first .denglu #login .login-info .taken a {
  text-decoration: none;
  cursor: pointer;
  font: 14px/1.5 'Microsoft YaHei','微软雅黑',Helvetica,Sans-serif;
  color: #fff;
  margin: 10px 0 0 10px;
  font-size: 12px;
  float: left;
}

#main .first .denglu #login .login-info .taken a:hover {
  color: #fff;
  text-decoration: underline;
}

#main .first .denglu #login .login-action {
  width: 340px;
  height: 87px;
  font: 14px/1.5 'Microsoft YaHei','微软雅黑',Helvetica,Sans-serif;
  padding: 0 20px;
}

#main .first .denglu #login .login-action::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

#main .first .denglu #login .login-action::before {
  content: "";
  display: block;
  height: 0;
}

#main .first .denglu #login .login-action #submit-form {
  border: 0;
  color: #5c4c12;
  background: #ffd850;
  border-radius: 2px;
  width: 299px;
  margin-top: 12px;
  display: block;
  padding: 0 10px;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

#main .first .denglu #login .login-action .other {
  margin: 12px 0 8px;
  font-size: 12px;
  color: #9dbcdb;
}

#main .first .denglu #login .login-action .other::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

#main .first .denglu #login .login-action .other::before {
  content: "";
  display: block;
  height: 0;
}

#main .first .denglu #login .login-action .other .fl {
  float: left;
  font-size: 12px;
  color: #9dbcdb;
  font: 14px/1.5 'Microsoft YaHei','微软雅黑',Helvetica,Sans-serif;
}

#main .first .denglu #login .login-action .other .fl span {
  vertical-align: top;
  display: inline-block;
  width: 15px;
  height: 17px;
  background: url("../images/icons.png?20140305") no-repeat -203px -75px;
  margin: 2px 4px 0 0;
}

#main .first .denglu #login .login-action .other .fl a {
  color: #fff;
}

#main .first .denglu #login .login-action .other .fl a:hover {
  text-decoration: underline;
  color: #fff;
}

#main .first .denglu #login .login-action .other .fr {
  float: right;
  font-size: 12px;
  color: #9dbcdb;
  font: 14px/1.5 'Microsoft YaHei','微软雅黑',Helvetica,Sans-serif;
}

#main .first .denglu #login .login-action .other .fr a {
  color: #fff;
}

#main .first .denglu #login .login-action .other .fr a:hover {
  text-decoration: underline;
  color: #fff;
}

#main .first .bottom {
  height: 126px;
  width: 100%;
  background: url("../images/bg-1_e29bcfa.jpg") no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

#main .first .bottom a {
  display: block;
  width: 30px;
  height: 26px;
  margin: 0 auto;
  position: absolute;
  background: url(../images/arrow_aad9b25.png);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: xia 0.6s ease alternate infinite;
}

@keyframes xia {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

#main .first .bottom .bm1 {
  width: 265px;
  height: 175px;
  background: url(../images/hill_1_0d79217.png);
  position: absolute;
  left: -42px;
  top: -50px;
}

#main .first .bottom .bm2 {
  width: 63px;
  height: 78px;
  background: url(../images/hill_2_540422f.png);
  position: absolute;
  right: 488px;
  top: -13px;
}

#main .first .bottom .bm3 {
  width: 260px;
  height: 175px;
  background: url(../images/hill_3_ace39fb.png);
  position: absolute;
  right: 0px;
  top: -47px;
}

#main .first.active .feiji {
  animation: laihui 1.5s alternate infinite;
}

#main .first.active .julun {
  animation: you 1s ease 0.6s forwards;
}

@keyframes laihui {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes you {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

#main .second {
  width: 100%;
  height: 643px;
  background: url("../images/bg-1_e29bcfa.jpg") no-repeat left center;
  position: relative;
}

#main .second .center {
  width: 1000px;
  margin: 0 auto;
}

#main .second .sd {
  width: 500px;
  height: 126px;
}

#main .second .sd h3 {
  width: 66px;
  height: 126px;
  float: left;
  background: url("../images/h_lingxian_221f2d8.png");
  opacity: 0;
  transition: all 0.6s ease 0.6s;
  transform: translateX(-50%);
  animation: zhuan 2s ease alternate infinite;
}

#main .second .sd .text {
  margin-left: 86px;
  margin-top: 8px;
}

#main .second .sd .text:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

#main .second .sd .text h4 {
  float: left;
  width: 414px;
  height: 48px;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 6px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
  transform: translateX(-50%);
}

#main .second .sd .text p {
  display: block;
  width: 414px;
  float: left;
  height: 62px;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 32px;
  opacity: .8;
  font-family: 'Microsoft Yahei';
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
  transform: translateX(-50%);
}

#main .second .shu {
  width: 444px;
  height: 427px;
  background: url("../images/brain_36a156f.png");
  position: absolute;
  right: 26px;
  top: -100px;
  transition: all 1s ease 0.6s;
  opacity: 0;
  transform: translateX(100px);
}

#main .second .bottom {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: -200px;
}

#main .second .bottom .square-1 {
  background: #35b568;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 70px;
  bottom: -55px;
}

#main .second .bottom .square-2 {
  position: absolute;
  display: block;
  width: 88px;
  height: 88px;
  background: #4ac179;
  left: 158px;
  bottom: -55px;
}

#main .second .bottom .square-3 {
  background: #8ae75a;
  position: absolute;
  bottom: -55px;
  left: 246px;
  width: 44px;
  height: 44px;
}

#main .second .bottom .square-4 {
  background: #8ae75a;
  position: absolute;
  right: 328px;
  width: 44px;
  height: 44px;
  bottom: -55px;
}

#main .second .bottom .square-5 {
  background: #4ac179;
  position: absolute;
  bottom: -55px;
  right: 240px;
  width: 44px;
  height: 44px;
}

#main .second .bottom a {
  display: block;
  width: 30px;
  height: 26px;
  margin: 0 auto;
  position: absolute;
  background: url(../images/arrow_aad9b25.png);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: xia 0.6s ease alternate infinite;
}

#main .second.active .sd h3 {
  opacity: 1;
  transform: translateX(0);
  animation: zhuan 0.6s ease 1s alternate infinite;
  font-family: 'Microsoft Yahei';
}

#main .second.active .sd h4 {
  opacity: 1;
  transform: translateX(0);
}

#main .second.active .sd p {
  opacity: 1;
  transform: translateX(0);
}

#main .second.active .shu {
  opacity: 1;
  transform: translateX(0);
}

@keyframes xia {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes zhuan {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

#main .three {
  width: 100%;
  height: 643px;
  background: url("../images/bg-2_867b7b4.jpg") no-repeat left center;
  position: relative;
}

#main .three .center {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#main .three .center .fangkua {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 88px;
  top: -260px;
  background: rgba(39, 213, 109, 0.4);
}

#main .three .center .fangkua2 {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 0px;
  top: -172px;
  background: rgba(52, 116, 212, 0.4);
}

#main .three .center .fangkua3 {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 176px;
  top: -172px;
  background: rgba(27, 177, 224, 0.4);
}

#main .three .center .fangkua4 {
  width: 176px;
  height: 176px;
  position: absolute;
  left: 88px;
  top: -84px;
  background: url("../images/square_c776382.jpg");
}

#main .three .center .fangkua5 {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 264px;
  top: -84px;
  background: rgba(39, 213, 109, 0.4);
}

#main .three .center .title {
  width: 500px;
  height: 126px;
  position: absolute;
  left: 85px;
  top: -84px;
  font-family: 'Microsoft Yahei';
}

#main .three .center .title h3 {
  width: 66px;
  height: 126px;
  float: left;
  background: url("../images/h_quanmian_8f813d2.png");
  opacity: 0;
  transition: all 0.6s ease 0.6s;
  transform: translateX(-50%);
  animation: zhuan 2s ease alternate infinite;
}

#main .three .center .title .text {
  margin-left: 86px;
  margin-top: 8px;
}

#main .three .center .title .text:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

#main .three .center .title .text h4 {
  float: left;
  width: 414px;
  height: 48px;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 6px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
  transform: translateX(-50%);
}

#main .three .center .title .text p {
  display: block;
  width: 414px;
  float: left;
  height: 62px;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 32px;
  opacity: .8;
  font-family: 'Microsoft Yahei';
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
  transform: translateX(-50%);
}

#main .three .center .qiu {
  width: 444px;
  height: 330px;
  background: url("../images/allside_e8abd12.png");
  position: absolute;
  right: 0px;
  top: -120px;
  transition: all 0.8s ease 0.6s;
  opacity: 0;
  transform: translateX(100px);
}

#main .three .bottom {
  width: 100%;
  height: 138px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: url(../images/bg-3-head_b8a3f7f.png) no-repeat left center;
}

#main .three .bottom a {
  display: block;
  width: 30px;
  height: 26px;
  margin: 0 auto;
  position: absolute;
  background: url(../images/arrow_aad9b25.png);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: xia 0.6s ease alternate infinite;
}

#main .three.active .title h3 {
  opacity: 1;
  transform: translateX(0);
  animation: zhuan 0.6s ease 1s alternate infinite;
}

#main .three.active .title .text h4 {
  opacity: 1;
  transform: translateX(0);
}

#main .three.active .title .text p {
  opacity: 1;
  transform: translateX(0);
}

#main .three.active .qiu {
  transform: translateX(0);
  opacity: 1;
}

#main .four {
  width: 100%;
  height: 643px;
  background: url("../images/bg-3_153a003.jpg") no-repeat left center;
  position: relative;
}

#main .four .center {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#main .four .center .title {
  width: 500px;
  height: 126px;
  position: absolute;
  left: 35px;
  top: 50px;
  font-family: 'Microsoft Yahei';
}

#main .four .center .title h3 {
  width: 66px;
  height: 126px;
  float: left;
  background: url("../images/h_zhuanye_256a94d.png");
  opacity: 0;
  transition: all 0.6s ease 0.6s;
  transform: translateX(-50%);
  animation: zhuan 2s ease alternate infinite;
}

#main .four .center .title .text {
  margin-left: 86px;
  margin-top: 8px;
}

#main .four .center .title .text:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

#main .four .center .title .text h4 {
  float: left;
  width: 414px;
  height: 48px;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 6px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
  transform: translateX(-50%);
}

#main .four .center .title .text p {
  display: block;
  width: 414px;
  float: left;
  height: 62px;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 32px;
  opacity: .8;
  font-family: 'Microsoft Yahei';
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease 0.5s;
  transform: translateX(-50%);
}

#main .four .center .circle {
  width: 275px;
  height: 245px;
  left: -36px;
  position: absolute;
  top: -100px;
  left: 0;
  background: url(../images/bubble_3b0f897.png);
  opacity: 0;
  transition: all 0.5s ease 0.5s;
  transform: translateX(-50%);
}

#main .four .center .zhu {
  width: 603px;
  height: 361px;
  position: absolute;
  right: 80px;
  top: -160px;
  transition: all 0.8s ease 0.5s;
  opacity: 0;
  transform: translateX(50%);
  font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
  background: url(../images/stat_8934528.png);
}

#main .four .center .copyright {
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-family: 'Microsoft Yahei';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -340px;
}

#main .four .center .copyright a {
  color: #fff;
  text-decoration: none;
}

#main .four.active .title h3 {
  opacity: 1;
  transform: translateX(0);
  animation: zhuan 0.6s ease 1s alternate infinite;
}

#main .four.active .title .text h4 {
  opacity: 1;
  transform: translateX(0);
}

#main .four.active .title .text p {
  opacity: 1;
  transform: translateX(0);
}

#main .four.active .circle {
  opacity: 1;
  transform: translateX(0);
}

#main .four.active .zhu {
  opacity: 1;
  transform: translateX(0);
}
